@import './guide.scss';

// Main Container
.main-wrapper {
	display: grid;
	grid-template-rows: 1fr 1.5fr;
	padding: 20px;
	width: 380px;
	height: auto;
	font-family: $primary-font;
	background-color: $white;
	border: 2px solid $black;
	border-radius: 20px;
	box-shadow: 5px 5px black;
	transition: box-shadow 500ms;
	&:hover {
		box-shadow: 10px 10px black;
		cursor: pointer;
	}
}

// Card Hero Section
.hero__img {
	border-radius: 10px;
}

// Card Info Section
.info {
	margin-top: 10px;
}
.info__date-type {
	width: 74px;
	padding: 4px;
	font-size: $sm-size;
	font-weight: $x-bold;
	background-color: $yellow;
	border-radius: 5px;
	p {
		margin: 0;
	}
}
.info__publish-day {
	font-size: $sm-size;
	font-weight: $bold;
}
.info__text-title {
	font-size: $lg-size;
	transition: color 600ms;
	&:hover {
		color: $yellow;
		cursor: pointer;
	}
}
.info__text-content {
	font-size: $sm-size;
	color: $grey;
}
.user {
	@include flexbox(row, start, center, 20px);
	margin-top: 25px;
}
.user-name {
	font-size: $sm-size;
	font-weight: $x-bold;
}
